body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.container {
    /* position: fixed; */  /* löschen oder auskommentieren */
    display: flex;
    justify-content: center; /* zentriert das Menü horizontal */
    gap: 20px;
    margin-top: 16px; /* Abstand vom oberen Rand */
}


.Header-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    filter: contrast(0.5)
}

.menu-link {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.menu-link:hover {
    text-decoration: underline;
}


.headline {
    position: absolute;
    left: 10%;
    font-size: 7vw;
    top: 20%;
    width: 80%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.Text-Minecraft {
    color: palegreen;
}

.description-section {
    height: auto; /* Höhe passt sich dem Inhalt an */
    padding: 30px 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /* erlaubt Umbruch auf kleinen Bildschirmen */
}


.button {
    background-color: rgb(255 255 255 / 80%);
    padding: 8px 30px;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.half-width {
    flex: 1 1 45%; 
    min-width: 300px;
}

.half-width img {
    width: 100%; /* Bild füllt die ganze Div-Breite */
    height: auto; /* Höhe passt sich proportional an */
    object-fit: cover; /* optional, für schöne Füllung ohne Verzerrung */
    border-radius: 8px; /* optional, sieht hübsch aus */
}

h2 {
    text-align: center;
    font-size: 50px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        top: 10px;
        gap: 10px;
    }
    .menu-link {
        margin-left: 0;
    }
}
