body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

footer {
    text-align: center;
    background-color: #181818;
    padding: 15px;
    font-size: 18px;
    color: white;
}

.container {
    position: fixed;     
    top: 16px; 
    left: 50%;              
    transform: translateX(-50%);  
    display: flex;
    gap: 1px;
    z-index: 9999; 
}
.Media {
 color: #acacac;
}


.hamburger {
    display: none; /* auf Desktop unsichtbar */
    font-size: 30px;
    cursor: pointer;
}

.Header-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    filter: contrast(0.5)
}

.menu-link {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.menu-link:hover {
    text-decoration: underline;
}


.headline {
    position: absolute;
    left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7vw;
    top: 20%;
    width: 80%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.Text-Minecraft {
    color: palegreen;
}

.description-section {
    height: auto; /* Höhe passt sich dem Inhalt an */
    padding: 30px 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /* erlaubt Umbruch auf kleinen Bildschirmen */
}


.button {
    background-color: rgb(255 255 255 / 80%);
    padding: 8px 30px;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.half-width {
    flex: 1 1 45%; 
    min-width: 300px;
}

.half-width img {
    width: 100%; /* Bild füllt die ganze Div-Breite */
    height: auto; /* Höhe passt sich proportional an */
    object-fit: cover; /* optional, für schöne Füllung ohne Verzerrung */
    border-radius: 8px; /* optional, sieht hübsch aus */
}

h2 {
    text-align: center;
    font-size: 50px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: flex-start; /* Links untereinander */
        background-color: rgba(0,0,0,0.8);
        padding: 10px;
        width: 200px;
        top: 10px;
        left: 10px;
        transform: none;
        display: none; /* Anfangs ausgeblendet */
    }

    .hamburger {
        display: block; /* Hamburger sichtbar auf Handy */
        color: white;
    }

    .menu-link {
        display: block;
        margin: 10px 0;
    }
}
