body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;     
    top: 16px; 
    left: 50%;              
    transform: translateX(-50%);  
    display: flex;
    gap: 20px;
    z-index: 9999; 
}

.Header-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: contrast(0.5)
}

.menu-link {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.menu-link:hover {
    text-decoration: underline;
}


.headline {
    position: absolute;
    left: 50px;
    font-size: 70px;
    top: 200px;
    width: 500px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.Text-Minecraft {
    color: palegreen;
}

.description-section {
    height: 500px;
    padding: 30px 100px;
    display: flex;
    gap: 50px;

}

.button {
    background-color: rgb(255 255 255 / 80%);
    padding: 8px 30px;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.half-width {
    width: 50%;
    object-fit: cover;
}

h2 {
    text-align: center;
    font-size: 50px;
}